<!DOCTYPE html>
<html>
<head>
    <title>Thrain - Secure Your Key</title>
    <!-- Latest Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8"> <!-- Character encoding scheme -->
    <style type="text/css">
        /* Custom CSS styles */
        button {
            color: black;
            width: 10vw;
            /* Add more styling here if needed */
        }
        button:hover {
            background-color: darkgrey;
            width: 10vw;
        }
        /* Add more styles as required */
    </style>
</head>
<body>
    <center>
        <h1>Secure Text Transfer Using Cloud </h1><br><br>
        <h3>Your one-time generated private key is:<br><br> {{private_key}}</h3>
        <br>
        <p style="color: red; font-size: 30px"><b>Note: Please ensure to keep this key secure.</b></p><br>
        <a href="/"><button class="btn" style="font-size:20px">Home</button></a>
    </center>
</body>
</html>
