<!DOCTYPE html>
<html>
<head>
    <title>STTP - Options</title>
    <!-- Latest Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8"> <!-- Character encoding scheme -->
</head>
<body>
    <center>
        <h1>Secure Text transfer Using Cloud</h1><br><br>
        <table>
            <tr>
                <td><a href='public-key-directory' target="blank"><button class="btn" style="margin-right: 10px;">Public Key Directory</button></a></td>
                <td><a href='home'><button class="btn" style="margin-right: 10px;">Home</button></a></td>
                <td><a href='upload-file'><button class="btn" style="margin-right: 10px;">Upload File</button></a></td>
            </tr>
        </table>
        <br><br>
        <div class="container" style="font-size:25px;">
            <p>Having uploaded a file to the cloud, the user now has several options:</p>
            <br>
            <p>
                - Explore the list of available files on the cloud.<br>
                - Return to the home page of this website.<br>
                - Upload another file to the cloud.
            </p>
        </div>
    </center>
</body>
</html>
